@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@section Scripts {
    <script src="~/js/SolicitudAdd.js"></script>
    <script src="~/js/Alerts.js"></script>
    <!-- jquery-validation -->
    <script src="~/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/plugins/jquery-validation/additional-methods.min.js"></script>

    <!-- DataTables -->
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">

    <link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">


    <link rel="stylesheet" href="~/css/modalStyles.css" />
    

    

    <!-- DataTables  & Plugins -->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/plugins/jszip/jszip.min.js"></script>
    <script src="~/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

}

<style>

    


</style>

<section>
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Administración de Solicitudes</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a class="breadCumCustom" href="~/Home">Home</a></li>
                        <li class="breadcrumb-item"><a class="breadCumCustom" href="~/Solicitud">Admin Solicitudes</a></li>
                        <li class="breadcrumb-item breadCumSelected active">Agregar</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
</section>

<section>
    <!-- Card ADD -->
    <div id="cardSolicitud" class="card card-default">
        <form id="fmSolicitud">
              <div class="card-header">
                <h3 class="card-title">Información general de la solicitud</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-sort-down"></i>
                  </button>
                </div>
              </div>          
              @*<div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                        <label for="txtUbiDes">Ubicación Destino *</label>
                        <input list="ubicacionDes" class="form-control form-control-sm" type="text" id="txtUbiDes" name="UbiDes" style="text-transform:uppercase" maxlength="200">
                        <datalist id="ubicacionDes">
                            <option value="Ubicación Destino 1"></option>
                            <option value="Ubicación Destino 2"></option>
                            <option value="Ubicación Destino 3"></option>
                            <option value="Ubicación Destino 4"></option>
                        </datalist>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="txtUbiOrigen">Ubicación Origen *</label>
                            <input list="ubicacionOrigen" class="form-control form-control-sm" type="text" id="txtUbiOrigen" name="UbiOrigen" style="text-transform:uppercase" maxlength="200">
                            <datalist id="ubicacionOrigen">
                                <option value="Ubicación Origen 1"></option>
                                <option value="Ubicación Origen 2"></option>
                                <option value="Ubicación Origen 3"></option>
                                <option value="Ubicación Origen 4"></option>
                            </datalist>
                        </div>
                    </div>
                </div>
              </div>*@
              <div class="card-body">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                            <label for="txtClave">Cliente *</label>
                            <input autocomplete="off" list="clientes" class="form-control form-control-sm" id="txtCliente" name="Cliente" style="text-transform:uppercase" maxlength="200">
                            <datalist id="clientes">

                            </datalist>
                        </div>
                      </div>
                      <div class="col-md-2">
                            <div class="form-group">
                                <label for="txtFecha">Fecha *</label>
                                <input class="form-control form-control-sm" type="date" id="txtFecha" name="Fecha" style="text-transform:uppercase" maxlength="200">
                            </div>
                       </div>
                       <div class="col-md-2">
                           <div class="form-group">
                               <label for="txtFecha" style="    margin-bottom: 0;">&nbsp;</label>
                                 <button type="button" onclick="$('#ModalDestinos').modal('show');" class="btn btn-block btn-success mt-2">Agregar Ruta</button>
                                @*<i onclick="$('#ModalDestinos').modal('show');" style="width: 30px;" class="fa-solid fa-plus-large"></i>*@
                           </div>
                        </div>
                    </div>
                   @* <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="txtOperador">Operador *</label>
                                <input autocomplete="off" list="operador" class="form-control form-control-sm" type="text" id="txtOperador" name="Operador" style="text-transform:uppercase" maxlength="200">
                                <datalist id="operador">
                                </datalist>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class='form-group'>
                                <label for="Tractor">Tractor *</label>
                                <input autocomplete="off" list="tractor" class="form-control form-control-sm" type="text" id="txtTractor" name="Tractor" style="text-transform:uppercase" maxlength="20">
                                <datalist id="tractor">
                                </datalist>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Caja">Caja *</label>
                                <input autocomplete="off" list="caja" class="form-control form-control-sm" type="text" id="txtCaja" name="Caja" style="text-transform:uppercase" maxlength="20">
                                <datalist id="caja">
                                </datalist>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                             <button type="button" onclick="$('#ModalDestinos').modal('show');" class="btn btn-block btn-success btn-xs">Agregar Ruta</button>
                        </div>
                        <div class="col-md-3">
                            &nbsp;
                        </div>
                        <div class="col-md-3">
                            <button id="añadirOperador" class="btn btn-block btn-success btn-xs" type="button">Añadir Operador</button>
                        </div>
                    </div>*@
                </div>
                <div class="card-footer">
                    <div class="row">
                         <div class="col-12">
                             <table id="otroOperador" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">Operador</th>
                                        <th class="text-center">Tractor</th>
                                        <th class="text-center">Caja</th>
                                        <th class="text-center">Ver Ruta</th>
                                        <th class="text-center">Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                         </div>
                    </div>
                </div>
              <div class="card-footer">
                <div class="row">
                    <div class="col-md-6">
                        &nbsp;
                    </div>
                    <div class="col-md-3">
                        <a class="btn btn-block btn-default btn-xs" href="~/Solicitud">Cancelar</a>
                    </div>
                    <div class="col-md-3">
                        <button type="button" id="form1" class="btn btn-block btn-success btn-xs">Agregar</button>
                    </div>
                </div>
              </div>
         </form>
        
     </div>
</section>










<!-- Modal -->
<div class="modal fade " id="ModalDestinos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-width" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Ruta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="modal-body ct-control">
            <div class="row">
               <div class="col-md-6">
                    <div class="form-group">
                        <label for="txtOperador">Operador *</label>
                        <input autocomplete="off" list="operador" class="form-control form-control-sm" type="text" id="txtOperador" name="Operador" style="text-transform:uppercase" maxlength="200">
                        <datalist id="operador">
                        </datalist>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class='form-group'>
                        <label for="Tractor">Tracto *</label>
                        <input autocomplete="off" list="tractor" class="form-control form-control-sm" type="text" id="txtTractor" name="Tractor" style="text-transform:uppercase" maxlength="20">
                        <datalist id="tractor">
                        </datalist>
                    </div>
                </div>
           </div> 
           <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Caja">Caja *</label>
                        <input autocomplete="off" list="caja" class="form-control form-control-sm" type="text" id="txtCaja" name="Caja" style="text-transform:uppercase" maxlength="20">
                        <datalist id="caja">
                        </datalist>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Destino">Destino *</label>
                        <input autocomplete="off" list="destino" class="form-control form-control-sm" onchange="agregarDestino()" type="text" id="txtDestino" name="Destino" style="text-transform:uppercase" maxlength="20">
                        <datalist id="destino">
                        </datalist>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                </div>
           </div>
      </div>
      <div class="modal-body">
           <div class="row">
                 <div class="container" id="TimeLineContainerII" >
                 </div>
            </div>
       </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button id="guardarRuta" type="button" class="btn btn-primary">Guardar Ruta</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade " id="verRuta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-width" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Ruta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="modal-body ct-control">
            <div class="row">
               <div class="col-md-6">
                    <div class="form-group">
                        <label for="txtOperador2">Operador *</label>
                        <input readonly autocomplete="off" list="operador2" class="form-control form-control-sm" type="text" id="txtOperador2" name="Operador" style="text-transform:uppercase" maxlength="200">
                        <datalist id="operador2">
                        </datalist>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class='form-group'>
                        <label for="Tractor2">Tracto *</label>
                        <input readonly autocomplete="off" list="tractor2" class="form-control form-control-sm" type="text" id="txtTractor2" name="Tractor" style="text-transform:uppercase" maxlength="20">
                        <datalist id="tractor2">
                        </datalist>
                    </div>
                </div>
           </div> 
           <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Caja">Caja *</label>
                        <input readonly autocomplete="off" list="caja2" class="form-control form-control-sm" type="text" id="txtCaja2" name="Caja" style="text-transform:uppercase" maxlength="20">
                        <datalist id="caja2">
                        </datalist>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Destino">Destino *</label>
                        <input autocomplete="off" list="destino2" class="form-control form-control-sm" onchange="agregarDestino2()" type="text" id="txtDestino2" name="Destino" style="text-transform:uppercase" maxlength="20">
                        <datalist id="destino2">
                        </datalist>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                </div>
           </div>
      </div>
      <div class="modal-body">
           <div class="row">
                 <div class="container" id="TimeLineContainerII2" >
                 </div>
            </div>
       </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button id="guardarRuta2" type="button" class="btn btn-primary">Editar Ruta</button>
      </div>
    </div>
  </div>
</div>

























@*<section>
    <div id="cardDomicilio" class="card card-default collapsed-card">
        
        <form id="fmOperador">
            
        </form>
          
    </div>
</section>*@

      
        
        



    <!-- Card ADD -->
        
        <!-- /.card -->
                
