@{
    ViewData["Title"] = "Home Page";
    
}

<div class="text-center">
    <br />
    <h1 style="font-weight: bolder;" class="display-4"> BIENVENIDO NUEVAMENTE !! </h1>
    <br />
    @*<img style="width: 10%;" src="~/dist/img/AdminLTELogobIENVENIDO.png" />*@
     <img style="width: 35%;" src="~/dist/img/logo-transportes-blanco.png" />
    <br />


</div>




<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">Reportes</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="row">
            <div class="col-md-5">
                <div  style="margin:8%">
                  <canvas id="myChart2"></canvas>
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    <canvas id="myChart"></canvas>
                </div>
            </div>
            <div class="col-md-5">
                <div style="margin:8%">
                   <canvas id="myChart3"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    

 



</script>



@section scripts {
     <script src="~/js/Home.js"></script>
    <script src="~/js/Alerts.js"></script>
    <script src="~/js/Config.js"></script>
}

 













